@t-universe:registry=https://gitlab.com/api/v4/packages/npm/
'//gitlab.com/api/v4/packages/npm/:_authToken'="gldt-rDp2hv8Qo41RtPzBgN3y"
'//gitlab.com/api/v4/projects/60211884/packages/npm/:_authToken'="gldt-rDp2hv8Qo41RtPzBgN3y"
'//gitlab.com/api/v4/projects/60211899/packages/npm/:_authToken'="gldt-rDp2hv8Qo41RtPzBgN3y"

registry=https://registry.npmjs.org/